<h4 class="mt-4 border-bottom">
マラソン大会レビューサイト
</h4>
<%= link_to '大会一覧', races_path, class:'btn btn-primary btn-lg btn-block' %>
<%= link_to 'レビュアー一覧', reviewers_path, class:'btn btn-primary btn-lg btn-block' %>
<%= link_to 'レビュー一覧', reviews_path, class:'btn btn-primary btn-lg btn-block' %>
